* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 5rem;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 88px;
  height: 88px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 88px;
}

.board_row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
